In [1]:
import pandas as pd
import numpy as np
import lightgbm as lgb

filepath = 'F:/contest/kuaishou/'
app_path = 'app_launch_log.csv'
activity_path = 'user_activity_log.csv'
video_path = 'video_create_log.csv'
register_path = 'user_register_log.csv'

data_reg = pd.read_csv(filepath + register_path)
data_app = pd.read_csv(filepath + app_path)
data_acti = pd.read_csv(filepath + activity_path)
data_video = pd.read_csv(filepath + video_path)

In [2]:
num_train = 3
train_reg = []
train_app = []
train_acti = []
train_video = []

for i in range(num_train):

    train_reg.append(data_reg[data_reg.date <= (16+i*7)])
    train_app.append(data_app[(data_app.date <= (16+i*7)) & (data_app.date >= (1+i*7))])
    train_acti.append(data_acti[(data_acti.date <= (16+i*7)) & (data_acti.date >= (1+i*7))])
    train_video.append(data_video[(data_video.date <= (16+i*7)) & (data_video.date >= (1+i*7))])

In [3]:
data1 = pd.merge(train_reg[0],train_acti[0],on = 'id', how = 'left')

In [7]:
# dummise_action = pd.get_dummies(data_acti.action, prefix = 'action')
data2 = pd.merge(train_reg[0],train_app[0],on = 'id', how = 'left')

In [33]:
#注册日志特征




#启动日志特征
def count_num(data):
    return data.groupby(['id']).size()

def gap_last(data, predict_day):
    tmp = data.groupby(['id'])
    gap = []
    last = []
    maxcontinue = []
    for i in tmp:
        gap.append(i[1].date.diff().mean())
        last.append(predict_day - max(i[1].date))
    return gap,last

    
# 行为日志特征
def count_page(data):
    tmp = data.groupby(['id'])
    page_0 = []
    page_1 = []
    page_2 = []
    page_3 = []
    page_4 = []
    for i in tmp:
        page_0.append((i[1].page == 0).sum())
        page_1.append((i[1].page == 1).sum())
        page_2.append((i[1].page == 2).sum())
        page_3.append((i[1].page == 3).sum())
        page_4.append((i[1].page == 4).sum())
    return page_0,page_1,page_2,page_3,page_4
def count_action(data):
    tmp = data.groupby(['id'])
    action_0 = []
    action_1 = []
    action_2 = []
    action_3 = []
    action_4 = []
    action_5 = []
    for i in tmp:
        action_0.append((i[1].action == 0).sum())
        action_1.append((i[1].action == 1).sum())
        action_2.append((i[1].action == 2).sum())
        action_3.append((i[1].action == 3).sum())
        action_4.append((i[1].action == 4).sum())
        action_5.append((i[1].action == 5).sum())
    return action_0,action_1,action_2,action_3,action_4,action_5
def maxnum_sameauthor(data):
    tmp = data.groupby(['date'])
    sameauthor = []
    samevideo = []
    for i in tmp:
        sameauthor.append(max(i[i].author.value_counts()))
        samevideo.append(max(i[i].video.value_counts()))
    return sameauthor,samevideo

#拍摄日志特征

In [9]:
%time
for i in range(5):
    #注册日志
    dayofpredict = 20 + i
    feature[i] = train_reg[i]
    feature[i]['date'] = dayofpredict - feature[i]['date']
    feature[i] = pd.concat([feature[i], pd.get_dummies(feature[i].source, prefix = 'source')], axis = 1).drop(['source'], axis = 1)
        
    #启动日志
    feature[i] = pd.merge(feature[i],count_num(train_app[i]).rename('launch_num'), on = 'id', how = 'left')
    tmp1,tmp2 = gap_last(train_app[i],dayofpredict)
    feature[i] = pd.merge(feature[i],tmp1.rename('launch_gap'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp2.rename('launch_last'), on = 'id', how = 'left')
    
   
    #行为日志
    feature[i] = pd.merge(feature[i],count_num(train_acti[i]).rename('acti_num'), on = 'id', how = 'left')
    tmp1 = feature[i]['acti_num']/feature[i]['launch_num']
    feature[i] = pd.merge(feature[i],tmp1.rename('acti_meandays'), on = 'id', how = 'left')
    tmp1,tmp2 = gap_last(train_acti[i],dayofpredict)
    feature[i] = pd.merge(feature[i],tmp1.rename('acti_gap'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp2.rename('acti_last'), on = 'id', how = 'left')
    tmp1,tmp2,tmp3,tmp4,tmp5 = count_page(train_acti[i])
    feature[i] = pd.merge(feature[i],tmp1.rename('page_0'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp2.rename('page_1'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp3.rename('page_2'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp4.rename('page_3'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp5.rename('page_4'), on = 'id', how = 'left')
    for j in range(5):
        feature[i]['page_'+str(j)+'_freq'] = feature[i]['page_'+str(i)]/feature[i]['acti_num'] if feature[i]['acti_num'].notnull() else 0
    tmp1,tmp2,tmp3,tmp4,tmp5,tmp6 = count_action(train_acti[i])
    feature[i] = pd.merge(feature[i],tmp1.rename('action_0'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp2.rename('action_1'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp3.rename('action_2'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp4.rename('action_3'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp5.rename('action_4'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp6.rename('action_5'), on = 'id', how = 'left')
    for j in range(6):
        feature[i]['action_'+str(i)+'_freq'] = feature[i]['action_'+str(i)]/feature[i]['acti_num'] if feature[i]['acti_num'].notnull() else 0
    tmp1,tmp2 = maxnum_sameauthor(train_acti[i])
    feature[i] = pd.merge(feature[i],tmp1.rename('sameauthor'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp2.rename('samevideo'), on = 'id', how = 'left')

    
    #拍摄日志
    feature[i] = pd.merge(feature[i],count_num(train_video[i]).rename('video_num'), on = 'id', how = 'left')
    tmp1,tmp2 = gap_last(train_video[i],dayofpredict)
    feature[i] = pd.merge(feature[i],tmp1.rename('video_gap'), on = 'id', how = 'left')
    feature[i] = pd.merge(feature[i],tmp2.rename('video_last'), on = 'id', how = 'left')

         date_x  source  device  date_y
id
16            5       5       5       5
98            1       1       1       1
105           7       7       7       7
218           9       9       9       9
225           4       4       4       4
250           3       3       3       3
336           4       4       4       4
422           1       1       1       1
607           1       1       1       1
639           1       1       1       1
711           1       1       1       1
746           1       1       1       1
901           2       2       2       2
973           5       5       5       5
975           1       1       1       1
1014          5       5       5       5
1036          4       4       4       4
1039         17      17      17      17
1296          6       6       6       6
1308          4       4       4       4
1330          1       1       1       1
1340          1       1       1       1
1344          4       4       4       4
1406          2       2       2       2
1407          1       1       1       1
1438          5       5       5       5
1506          8       8       8       8
1561          1       1       1       1
1581          1       1       1       1
1612          2       2       2       2
...         ...     ...     ...     ...
1366217       1       1       1       1
1366231      17      17      17      17
1366238       1       1       1       1
1366265       4       4       4       4
1366299       5       5       5       5
1366305       1       1       1       1
1366309       1       1       1       1
1366339       8       8       8       8
1366419       2       2       2       2
1366471       8       8       8       8
1366491       2       2       2       2
1366497       1       1       1       1
1366517       1       1       1       1
1366535       1       1       1       1
1366629       2       2       2       2
1366711       1       1       1       1
1366803       1       1       1       1
1366834       1       1       1       1
1366899       7       7       7       7
1366920       1       1       1       1
1366989       1       1       1       1
1367006       1       1       1       1
1367044      19      19      19      19
1367067       3       3       3       3
1367164       1       1       1       1
1367252       3       3       3       3
1367348       1       1       1       1
1367421       8       8       8       8
1367473       2       2       2       2
1367532       5       5       5       5

[28512 rows x 4 columns]

In [28]:
a = 0
b = 3
c = b/a if a == 0 else 0
c

ZeroDivisionError: division by zero

In [32]:
train_video[0]

            id  date
0           98    16
3          973    13
4          973    14
5          973    14
6          973    14
18        1014    16
19        1014    17
20        1014    18
21        1014    19
25        1296    12
26        1296    13
27        1296    15
28        1296    15
29        1296    15
30        1296    15
31        1296    16
32        1296    16
33        1296    18
38        1938     2
39        2040     9
40        2040     9
47        2068    16
48        2276    10
49        2276    11
50        2276    12
54        2439    12
55        2439    12
56        2439    12
57        2439    12
58        2439    12
...        ...   ...
35093  1364850    16
35094  1364850    16
35095  1364850    16
35096  1364850    17
35098  1365465    18
35099  1365465    18
35102  1366113    17
35103  1366113    17
35104  1366113    18
35106  1366299     6
35107  1366299     6
35111  1366339    11
35112  1366419    14
35113  1366419    14
35114  1366419    14
35117  1366491    11
35124  1366834     6
35131  1367067    13
35139  1367473     5
35140  1367473     5
35141  1367473     5
35142  1367473     5
35143  1367473     5
35144  1367473     5
35145  1367473     5
35146  1367473     5
35147  1367473     5
35148  1367473     5
35149  1367473     5
35150  1367473     5

[15596 rows x 2 columns]